<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../style.css">
    <title>BIBLIOTEC - STUDENTS</title>
</head>

<body>

    <!--Start Sidebar-->
    <div class="sidebar">
        <a href="#" class="logo">
            <i class='bx bxs-bank'></i>
            <div class="logo-name"> LIBRARY </div>
        </a>

        <!--Start Menu-->
        <ul class="side-menu">
            <li><a href="../../Home.html"><i class='bx bx-home-alt-2'></i><span> Inicio </span> </a></li>
            <li><a href="../Category/Category.html"><i class='bx bx-category-alt'></i> <span> Category </span> </a>
            </li>
            <li><a href="../Book/Book.html"><i class='bx bx-book-bookmark'></i> <span> Books </span>
                </a></li>
            <li class="active"><a href="../Student/Student.html"><i class='bx bx-user'></i> <span> Students </span> </a>
            </li>
            <li><a href="#"><i class='bx bx-folder-plus'></i> <span> Loans </span> </a></li>
            <li><a href="#"><i class='bx bx-calendar'></i> <span> Calendar </span> </a></li>
        </ul>
        <!--End of Menu-->

        <!--Exit-->
        <ul class="side-menu">
            <li><a href="#" class="logout"><i class='bx bx-log-out-circle'></i> Logout</a></li>
        </ul>
        <!--End of Exit-->

    </div>
    <!--End of Sidebar-->


    <!--Main Content-->
    <div class="content">

        <!--Start Navbar-->
        <nav>
            <i class='bx bx-menu'></i>
            <h1>TECHNOLOGY UNIVERSITY</h1>

            <a href="#" class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>

            <p class="name">Hello, <span>Brayan</span> <br> Admin</p>

            <a href="#" class="profile">
                <img src="../../image/logo.png">
            </a>
        </nav>
        <!--End of Navbar-->

        <main>
            <div class="header">
                <div class="left">
                    <h1>Students</h1>
                </div>

                <a href="#" class="report">
                    <i class='bx bx-cloud-download'></i>
                    <span>Download Students</span>
                </a>
            </div>

            <div class="content-students">
                <ul class="insights-students">
                    <li>
                        <i class='bx bxs-face'></i><span>Full Name Students</span>
                        <input type="text" placeholder="Full Name..">
                    </li>

                    <li>
                        <i class='bx bx-pencil'></i><span>Semester Studying</span>
                        <input type="number" placeholder="Semester..">
                    </li>

                    <li>
                        <i class='bx bx-envelope'></i><span>Email Addres</span>
                        <input type="email" placeholder="Email..">
                    </li>

                    <li>
                        <i class='bx bx-phone-call'></i><span>Phone Mobile</span>
                        <input type="text" placeholder="Phone..">

                    </li>

                    <li>
                        <button type="submit"><i class='bx bx-save'></i></button>
                    </li>
                </ul>                
            </div>


            <!--Start table data-->
            <div class="bottom-data">
                <div class="orders">
                    <div class="headers">
                        <i class='bx bxs-user-account'></i>
                        <h3>Student</h3>
                        <i class='bx bx-filter'></i>
                        <i class='bx bx-search-alt-2'></i>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>User Name</th>
                                <th>Semester</th>
                                <th>Email Address</th>
                                <th>Phone</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <img src="../../image/profile1.png">
                                    <p>Carlos Castaño</p>
                                </td>
                                <td>
                                    <p>Cuarto</p>
                                </td>
                                <td>
                                    <p>carlo@gmail.com</p>
                                </td>
                                <td>
                                    <p>3107839273</p>
                                </td>
                                <td>
                                    <span class="status completed">3H 20M</span>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <img src="../../image/profile1.png">
                                    <p>Saray Hernandez</p>
                                </td>
                                <td>
                                    <p>Primero</p>
                                </td>
                                <td>
                                    <p>saray@gmail.com</p>
                                </td>
                                <td>
                                    3028583897
                                </td>
                                <td>
                                    <span class="status pending">0H 2M</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--End Table data-->
        </main>
    </div>
    <!--End of Main Content-->

    <script src="../../javascript/index.js"></script>
</body>

</html>