<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/Css/style.css}">

    <title>LIBRARY - BOOKS</title>
</head>

<body>

    <!--Start Sidebar-->
    <div class="sidebar">
        <a class="logo">
            <i class='bx bxs-bank'></i>
            <div class="logo-name"> LIBRARY </div>
        </a>

        <!--Start Menu-->
        <ul class="side-menu">
            <li><a th:href="@{/principal}"><i class='bx bx-home-alt-2'></i><span> Inicio </span> </a></li>
            <li><a th:href="@{/ViewCategory}"><i class='bx bx-category-alt'></i> <span> Category </span> </a></li>
            <li class="active"><a th:href="@{/ViewBook}"><i class='bx bx-book-bookmark'></i> <span> Books </span></a>
            </li>
            <li><a th:href="@{/ViewStudent}"><i class='bx bx-user'></i> <span> Students </span> </a></li>
            <li><a th:href="@{/ViewLoan}"><i class='bx bx-folder-plus'></i> <span> Loans </span> </a></li>
            <li><a th:href="@{/ViewCalendar}"><i class='bx bx-calendar'></i> <span> Calendar </span> </a></li>
        </ul>
        <!--End of Menu-->

        <!--Exit-->
        <ul class="side-menu">
            <li><a class="logout"><i class='bx bx-log-out-circle'></i> Logout</a></li>
        </ul>
        <!--End of Exit-->

    </div>
    <!--End of Sidebar-->


    <!--Main Content-->
    <div class="content">

        <!--Start Navbar-->
        <nav>
            <i class='bx bx-menu'></i>
            <h1>TECHNOLOGY UNIVERSITY</h1>

            <a class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>

            <p class="name">Hello, <span>Brayan</span> <br> Admin</p>

            <a class="profile">
                <img th:src="@{/image/logo.png}">
            </a>
        </nav>
        <!--End of Navbar-->

        <main>

            <!--Start Boton-->
            <div class="header">
                <div class="left">
                    <h1>Books</h1>
                </div>
            </div>

            <div class="content-buttons">
                <div class="buttons">
                    <a th:href="@{/ViewRegisterBook}" class="button">
                        <i class='bx bx-plus'></i>
                        <span>Register Books</span>
                    </a>

                    <a th:href="@{/ViewUpdateBook}" class="button">
                        <i class='bx bx-reset'></i>
                        <span>Update Books</span>
                    </a>
                </div>
            </div>
            <!--End Boton-->

            <!--Start list books-->
            <div class="list-left">
        
                <!--Start table data-->
                <div class="bottom-data">
                    <div class="orders">
                        <div class="headers">
                            <i class='bx bxs-book'></i>
                            <h3>Books</h3>
                            <i class='bx bx-filter'></i>
                            <i class='bx bx-search-alt-2'></i>
                        </div>

                        <table>
                            <thead>
                                <tr>
                                    <th>Name Books</th>
                                    <th>Category</th>
                                    <th>Author</th>
                                    <th>Pages</th>
                                    <th>Language</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <p>Mi portada del libro</p>
                                    </td>
                                    <td>
                                        <p class="literature">Literature</p>
                                    </td>
                                    <td>
                                        <p>Brayan Mejia</p>
                                    </td>
                                    <td>
                                        <p>300</p>
                                    </td>
                                    <td>
                                        <p>English</p>
                                    </td>
                                </tr>                           

                                <tr>
                                    <td>
                                        <p>El color perdido del bosque</p>
                                    </td>
                                    <td>
                                        <p class="literature">Literature</p>
                                    </td>
                                    <td>
                                        <p>Joe Chamber</p>
                                    </td>
                                    <td>
                                        <p>120</p>
                                    </td>
                                    <td>
                                        <p>Italy</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <p>El zorro en el bosque</p>
                                    </td>
                                    <td>
                                        <p class="Children">Children's</p>
                                    </td>
                                    <td>
                                        <p>Salma Dubois</p>
                                    </td>
                                    <td>
                                        <p>236</p>
                                    </td>
                                    <td>
                                        <p>Spanish</p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <p>Dejemos Huella</p>
                                    </td>
                                    <td>
                                        <p class="Medicine">Medicine</p>
                                    </td>
                                    <td>
                                        <p>Connor Hamilton</p>
                                    </td>
                                    <td>
                                        <p>260</p>
                                    </td>
                                    <td>
                                        <p>Spanish</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--End Table data-->
        </main>
    </div>
    <!--End of Main Content-->

    <script th:src="@{/javascript/index.js}"></script>
</body>

</html>