<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" th:href="@{/Css/style.css}">
    <title>LIBRARY - CATEGORYS</title>
</head>

<body>


    <!--Start Sidebar-->
    <div class="sidebar">
        <a class="logo">
            <i class='bx bxs-bank'></i>
            <div class="logo-name"> LIBRARY </div>
        </a>

        <!--Start Menu-->
        <ul class="side-menu">
            <li><a th:href="@{/principal}"><i class='bx bx-home-alt-2'></i><span> Inicio </span> </a></li>
            <li class="active"><a th:href="@{/ViewCategory}"><i class='bx bx-category-alt'></i><span>Category </span>
                </a></li>
            <li><a th:href="@{/ViewBook}"><i class='bx bx-book-bookmark'></i> <span> Books </span> </a></li>
            <li><a th:href="@{/ViewStudent}"><i class='bx bx-user'></i> <span> Students </span> </a></li>
            <li><a th:href="@{/ViewLoan}"><i class='bx bx-folder-plus'></i> <span> Loans </span> </a></li>
            <li><a th:href="@{/ViewCalendar}"><i class='bx bx-calendar'></i> <span> Calendar </span> </a></li>
        </ul>
        <!--End of Menu-->

        <!--Exit-->
        <ul class="side-menu">
            <li><a class="logout"><i class='bx bx-log-out-circle'></i> Logout</a></li>
        </ul>
        <!--End of Exit-->

    </div>
    <!--End of Sidebar-->


    <!--Main Content-->
    <div class="content">

        <!--Start Navbar-->
        <nav>
            <i class='bx bx-menu'></i>
            <h1>TECHNOLOGY UNIVERSITY</h1>

            <a class="notif">
                <i class='bx bx-bell'></i>
                <span class="count">12</span>
            </a>

            <p class="name">Hello, <span>Brayan</span> <br> Admin</p>

            <a class="profile">
                <img th:src="@{/image/logo.png}" alt="Logo">
            </a>
        </nav>
        <!--End of Navbar-->

        <main>

            <div class="header">
                <div class="left">
                    <h1>Categories</h1>
                </div>
            </div>

            <div class="insights-category">
                <div class="register-left">
                    <div class="headers">
                        <i class='bx bx-category-alt'></i>
                        <h2>Register Category</h2>
                    </div>

                    <form th:action="@{/ViewCategory}">
                        <div class="custom_input">
                            <i class='bx bxs-book-open'></i>
                            <input class="input" type="text" placeholder="Name Category...">
                        </div>
                        <br>
                        <input type="submit" class="button-category" value="Register">
                    </form>
                </div>


                <div class="insights-right">
                    <div class="data-right">
                        <div class="headers">
                            <i class='bx bx-list-ul'></i>
                            <h2>Quantity of Categories</h2>
                        </div>
                    </div>

                    <table>
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Associated Books</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p>Romantic</p>
                                </td>
                                <td>
                                    250 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Action</p>
                                </td>
                                <td>
                                    150 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Adventure</p>
                                </td>
                                <td>
                                    0 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Literature</p>
                                </td>
                                <td>
                                    150 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Literature</p>
                                </td>
                                <td>
                                    150 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Literature</p>
                                </td>
                                <td>
                                    150 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Literature</p>
                                </td>
                                <td>
                                    150 Books
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <p>Literature</p>
                                </td>
                                <td>
                                    150 Books
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        </main>
    </div>
    <!--End of Main Content-->

    <script type="/text/javascript" th:src="@{/javascript/index.js}"></script>
</body>

</html>